.r-shadow-s {
	box-shadow: 3px 3px 10px #00000015;
}

.r-shadow-m {
	box-shadow: 3px 3px 25px #00000015;
}

.r-shadow-l {
	box-shadow: 3px 3px 60px #00000015;
}

.r-hov-shadow-s,
.r-hov-shadow-m,
.r-hov-shadow-l {
	transition: 0.3s;
}

.r-hov-shadow-s:hover {
	box-shadow: 3px 3px 10px #00000015;
}

.r-hov-shadow-m:hover {
	box-shadow: 3px 3px 25px #00000015;
}

.r-hov-shadow-l:hover {
	box-shadow: 3px 3px 60px #00000015;
}