/* Tablet */
@media ( max-width: $break-tab-largest ) and ( min-width: $break-tab-smallest ) {
	.r-tab-shadow-s {
		box-shadow: 3px 3px 10px #00000015;
	}

	.r-tab-shadow-m {
		box-shadow: 3px 3px 25px #00000015;
	}

	.r-tab-shadow-l {
		box-shadow: 3px 3px 60px #00000015;
	}

	.r-tab-hov-shadow-s,
	.r-tab-hov-shadow-m,
	.r-tab-hov-shadow-l {
		transition: 0.3s;
	}

	.r-tab-hov-shadow-s:hover {
		box-shadow: 3px 3px 10px #00000015;
	}

	.r-tab-hov-shadow-m:hover {
		box-shadow: 3px 3px 25px #00000015;
	}

	.r-tab-hov-shadow-l:hover {
		box-shadow: 3px 3px 60px #00000015;
	}
}