/* Tablet */
@media ( max-width: $break-tab-largest ) {
	.r-tab-overflow-auto {
		overflow: auto;
	}
	.r-tab-overflow-hidden {
		overflow: hidden;
	}
	.r-tab-overflow-visible {
		overflow: visible;
	}
	.r-tab-overflow-scroll {
		overflow: scroll;
	}
}