.r-bg-primary {
	background: var(--color-primary);
}

.r-bg-secondary {
	background: var(--color-secondary);
}

.r-bg-success {
	background: var(--color-theme-success);
}

.r-bg-danger {
	background: var(--color-theme-danger);
}

.r-bg-warning {
	background: var(--color-theme-warning);
}

.r-bg-info {
	background: var(--color-theme-info);
}

.r-bg-white {
	background: var(--color-theme-white);
}

.r-bg-black {
	background: var(--color-theme-black);
}

.r-bg-layout-1 {
	background: var(--color-layout-1);
}

.r-bg-layout-2 {
	background: var(--color-layout-2);
}

.r-bg-layout-3 {
	background: var(--color-layout-3);
}

.r-bg-layout-4 {
	background: var(--color-layout-4);
}

.r-bg-transparent {
	background: transparent;
}



/*Text Color*/

.r-fc-primary {
	color: var(--color-primary);
}

.r-fc-secondary {
	color: var(--color-secondary);
}

.r-fc-success {
	color: var(--color-theme-success);
}

.r-fc-danger {
	color: var(--color-theme-danger);
}

.r-fc-warning {
	color: var(--color-theme-warning);
}

.r-fc-info {
	color: var(--color-theme-info);
}

.r-fc-white {
	color: var(--color-theme-white);
}

.r-fc-black {
	color: var(--color-theme-black);
}

.r-fc-heading {
	color: var(--heading-color);
}

.r-fc-default {
	color: var(--font-color);
}

.r-fc-light {
	color: var(--font-color-2);
}

.r-fc-lighter {
	color: var(--font-color-3);
}




// HOVER

.r-bg-primary-hov,
.r-bg-secondary-hov,
.r-fc-primary-hov,
.r-fc-secondary-hov,
.r-fc-heading-hov,
.r-fc-default-hov,
.r-fc-light-hov {
	transition: .3s;
}

.r-bg-primary-hov:hover {
	background: var(--color-primary);
}

.r-bg-secondary-hov:hover {
	background: var(--color-secondary);
}

.r-fc-primary-hov:hover {
	color: var(--color-primary);
}

.r-fc-secondary-hov:hover {
	color: var(--color-secondary);
}

.r-fc-heading-hov:hover {
	color: var(--heading-color);
}

.r-fc-default-hov:hover {
	color: var(--font-color);
}

.r-fc-light-hov:hover {
	color: var(--font-color-2);
}



/*Border Color*/

.r-bc-layout {
	border-color: var(--color-layout-border);
}

.r-bc-layout-2 {
	border-color: var(--color-layout-border-2);
}

.r-bc-layout-3 {
	border-color: var(--color-layout-border-3);
}

.r-bc-primary {
	border-color: var(--color-primary);
}

.r-bc-secondary {
	border-color: var(--color-secondary);
}

.r-bc-success {
	border-color: var(--color-theme-success);
}

.r-bc-danger {
	border-color: var(--color-theme-danger);
}

.r-bc-warning {
	border-color: var(--color-theme-warning);
}

.r-bc-info {
	border-color: var(--color-theme-info);
}

.r-bc-white {
	border-color: var(--color-theme-white);
}

.r-bc-black {
	border-color: var(--color-theme-black);
}

.r-bc-transparent {
	border-color: transparent;
}