/* Small Desktop */
@media (max-width: $break-sm) {
	.r-sm-bg-primary {
		background: var(--color-primary);
	}

	.r-sm-bg-secondary {
		background: var(--color-secondary);
	}

	.r-sm-bg-success {
		background: var(--color-theme-success);
	}

	.r-sm-bg-danger {
		background: var(--color-theme-danger);
	}

	.r-sm-bg-warning {
		background: var(--color-theme-warning);
	}

	.r-sm-bg-info {
		background: var(--color-theme-info);
	}

	.r-sm-bg-white {
		background: var(--color-theme-white);
	}

	.r-sm-bg-black {
		background: var(--color-theme-black);
	}

	.r-sm-bg-layout-1 {
		background: var(--color-layout-1);
	}

	.r-sm-bg-layout-2 {
		background: var(--color-layout-2);
	}

	.r-sm-bg-layout-3 {
		background: var(--color-layout-3);
	}

	.r-sm-bg-layout-4 {
		background: var(--color-layout-4);
	}

	.r-sm-bg-transparent {
		background: transparent;
	}

	/*Text Color*/

	.r-sm-fc-primary {
		color: var(--color-primary);
	}

	.r-sm-fc-secondary {
		color: var(--color-secondary);
	}

	.r-sm-fc-success {
		color: var(--color-theme-success);
	}

	.r-sm-fc-danger {
		color: var(--color-theme-danger);
	}

	.r-sm-fc-warning {
		color: var(--color-theme-warning);
	}

	.r-sm-fc-info {
		color: var(--color-theme-info);
	}

	.r-sm-fc-white {
		color: var(--color-theme-white);
	}

	.r-sm-fc-black {
		color: var(--color-theme-black);
	}

	.r-sm-fc-heading {
		color: var(--heading-color);
	}

	.r-sm-fc-default {
		color: var(--font-color);
	}

	.r-sm-fc-light {
		color: var(--font-color-2);
	}

	.r-sm-fc-lighter {
		color: var(--font-color-3);
	}

	/*Border Color*/

	.r-sm-bc-layout {
		border-color: var(--color-layout-border);
	}

	.r-sm-bc-layout-2 {
		border-color: var(--color-layout-border-2);
	}

	.r-sm-bc-layout-3 {
		border-color: var(--color-layout-border-3);
	}

	.r-sm-bc-primary {
		border-color: var(--color-primary);
	}

	.r-sm-bc-secondary {
		border-color: var(--color-secondary);
	}

	.r-sm-bc-success {
		border-color: var(--color-theme-success);
	}

	.r-sm-bc-danger {
		border-color: var(--color-theme-danger);
	}

	.r-sm-bc-warning {
		border-color: var(--color-theme-warning);
	}

	.r-sm-bc-info {
		border-color: var(--color-theme-info);
	}

	.r-sm-bc-white {
		border-color: var(--color-theme-white);
	}

	.r-sm-bc-black {
		border-color: var(--color-theme-black);
	}

	.r-sm-bc-transparent {
		border-color: transparent;
	}
}