/* Tablet */
@media ( max-width: $break-tab-largest ) and ( min-width: $break-tab-smallest ) {
	.r-tab-bg-primary {
		background: var(--color-primary);
	}

	.r-tab-bg-secondary {
		background: var(--color-secondary);
	}

	.r-tab-bg-success {
		background: var(--color-theme-success);
	}

	.r-tab-bg-danger {
		background: var(--color-theme-danger);
	}

	.r-tab-bg-warning {
		background: var(--color-theme-warning);
	}

	.r-tab-bg-info {
		background: var(--color-theme-info);
	}

	.r-tab-bg-white {
		background: var(--color-theme-white);
	}

	.r-tab-bg-black {
		background: var(--color-theme-black);
	}

	.r-tab-bg-layout-primary {
		background: var(--color-layout-1);
	}

	.r-tab-bg-layout-secondary {
		background: var(--color-layout-2);
	}

	.r-tab-bg-layout-tertiary {
		background: var(--color-layout-3);
	}

	.r-tab-bg-transparent {
		background: transparent;
	}

	/*Text Color*/

	.r-tab-text-primary {
		color: var(--color-primary);
	}

	.r-tab-text-secondary {
		color: var(--color-secondary);
	}

	.r-tab-text-success {
		color: var(--color-theme-success);
	}

	.r-tab-text-danger {
		color: var(--color-theme-danger);
	}

	.r-tab-text-warning {
		color: var(--color-theme-warning);
	}

	.r-tab-text-info {
		color: var(--color-theme-info);
	}

	.r-tab-text-white {
		color: var(--color-theme-white);
	}

	.r-tab-text-black {
		color: var(--color-theme-black);
	}

	.r-tab-text-heading {
		color: var(--heading-color);
	}

	.r-tab-text-def {
		color: var(--font-color);
	}

	.r-tab-text-def-2 {
		color: var(--font-color-2);
	}

	/*Border Color*/

	.r-tab-border-layout {
		border-color: var(--color-layout-border);
	}

	.r-tab-border-layout-2 {
		border-color: var(--color-layout-border-2);
	}

	.r-tab-border-layout-3 {
		border-color: var(--color-layout-border-2);
	}

	.r-tab-border-primary {
		border-color: var(--color-primary);
	}

	.r-tab-border-secondary {
		border-color: var(--color-secondary);
	}

	.r-tab-border-success {
		border-color: var(--color-theme-success);
	}

	.r-tab-border-danger {
		border-color: var(--color-theme-danger);
	}

	.r-tab-border-warning {
		border-color: var(--color-theme-warning);
	}

	.r-tab-border-info {
		border-color: var(--color-theme-info);
	}

	.r-tab-border-white {
		border-color: var(--color-theme-white);
	}

	.r-tab-border-black {
		border-color: var(--color-theme-black);
	}

	.r-tab-border-transparent {
		border-color: transparent;
	}
}