.r-bg-primary {
	background: var(--color-primary);
}

.r-bg-secondary {
	background: var(--color-secondary);
}

.r-bg-success {
	background: var(--color-theme-success);
}

.r-bg-danger {
	background: var(--color-theme-danger);
}

.r-bg-warning {
	background: var(--color-theme-warning);
}

.r-bg-info {
	background: var(--color-theme-info);
}

.r-bg-white {
	background: var(--color-theme-white);
}

.r-bg-black {
	background: var(--color-theme-black);
}

.r-bg-layout-primary {
	background: var(--color-layout-1);
}

.r-bg-layout-secondary {
	background: var(--color-layout-2);
}

.r-bg-layout-tertiary {
	background: var(--color-layout-3);
}

.r-bg-transparent {
	background: transparent;
}

/*Text Color*/

.r-text-primary {
	color: var(--color-primary);
}

.r-text-secondary {
	color: var(--color-secondary);
}

.r-text-success {
	color: var(--color-theme-success);
}

.r-text-danger {
	color: var(--color-theme-danger);
}

.r-text-warning {
	color: var(--color-theme-warning);
}

.r-text-info {
	color: var(--color-theme-info);
}

.r-text-white {
	color: var(--color-theme-white);
}

.r-text-black {
	color: var(--color-theme-black);
}

.r-text-heading {
	color: var(--heading-color);
}

.r-text-def {
	color: var(--font-color);
}

.r-text-def-2 {
	color: var(--font-color-2);
}

/*Border Color*/

.r-border-layout {
	border-color: var(--color-layout-border);
}

.r-border-layout-2 {
	border-color: var(--color-layout-border-2);
}

.r-border-layout-3 {
	border-color: var(--color-layout-border-2);
}

.r-border-primary {
	border-color: var(--color-primary);
}

.r-border-secondary {
	border-color: var(--color-secondary);
}

.r-border-success {
	border-color: var(--color-theme-success);
}

.r-border-danger {
	border-color: var(--color-theme-danger);
}

.r-border-warning {
	border-color: var(--color-theme-warning);
}

.r-border-info {
	border-color: var(--color-theme-info);
}

.r-border-white {
	border-color: var(--color-theme-white);
}

.r-border-black {
	border-color: var(--color-theme-black);
}

.r-border-transparent {
	border-color: transparent;
}