/* Tablet */
@media ( max-width: $break-tab-largest ) {
	.r-tab-width-25 {
		width: 25%;
	}

	.r-tab-width-50 {
		width: 50%;
	}

	.r-tab-width-75 {
		width: 75%;
	}

	.r-tab-width-100 {
		width: 100%;
	}

	.r-tab-width-auto {
		width: auto;
	}

	.r-tab-max-width-lm {
		max-width: $large-mobile;
	}

	.r-tab-max-width-sm {
		max-width: $small-mobile;
	}

	.r-tab-max-width-100 {
		max-width: 100%;
	}

	.r-tab-v-width-100 {
		width: 100vw;
	}

	.r-tab-min-v-width-100 {
		min-width: 100vw;
	}

	.r-tab-height-25 {
		height: 25%;
	}

	.r-tab-height-50 {
		height: 50%;
	}

	.r-tab-height-75 {
		height: 75%;
	}

	.r-tab-height-100 {
		height: 100%;
	}

	.r-tab-height-auto {
		height: auto;
	}

	.r-tab-max-height-100 {
		max-height: 100%;
	}

	.r-tab-v-height-100 {
		height: 100vh;
	}

	.r-tab-min-v-height-100 {
		min-height: 100vh;
	}
}