:root {
	--transition-1: 0.1s;
	--transition-2: 0.3s;
	--transition-3: 0.5s;
	--transition-4: 1s;
}

.r-transition-1 {
	transition: var(--transition-1);
}

.r-transition-2 {
	transition: var(--transition-2);
}

.r-transition-3 {
	transition: var(--transition-3);
}

.r-transition-4 {
	transition: var(--transition-4);
}