.r-justify-content-start {
	justify-content: flex-start;
}

.r-justify-content-end {
	justify-content: flex-end;
}

.r-justify-content-center {
	justify-content: center;
}

.r-justify-content-between {
	justify-content: space-between;
}

.r-justify-content-around {
	justify-content: space-around;
}

.r-justify-content-evenly {
	justify-content: space-evenly;
}

.r-justify-items-start {
	justify-items: flex-start;
}

.r-justify-items-end {
	justify-items: flex-end;
}

.r-justify-items-center {
	justify-items: center;
}

.r-justify-items-stretch {
	justify-items: stretch;
}