.r-fs-1 {
	font-size: var(--font-size-1);
}

.r-fs-2 {
	font-size: var(--font-size-2);
}

.r-fs-3 {
	font-size: var(--font-size-3);
}

.r-fs-4 {
	font-size: var(--font-size-4);
}

.r-fs-5 {
	font-size: var(--font-size-5);
}

.r-fs-6 {
	font-size: var(--font-size-6);
}

.r-fs-regular {
	font-size: var(--font-size-regular);
}

.r-fs-large {
	font-size: var(--font-size-large);
}

.r-fs-larger {
	font-size: var(--font-size-larger);
}

.r-fst-italic {
	font-style: italic;
}

.r-fst-normal {
	font-style: normal;
}

.r-fw-light {
	font-weight: 300;
}

.r-fw-lighter {
	font-weight: lighter;
}

.r-fw-normal {
	font-weight: 400;
}

.r-fw-bold {
	font-weight: 700;
}

.r-fw-bolder {
	font-weight: bolder;
}

.r-fw-100 {
	font-weight: 100;
}

.r-fw-200 {
	font-weight: 200;
}

.r-fw-300 {
	font-weight: 300;
}

.r-fw-400 {
	font-weight: 400;
}

.r-fw-500 {
	font-weight: 500;
}

.r-fw-600 {
	font-weight: 600;
}

.r-fw-700 {
	font-weight: 700;
}

.r-fw-800 {
	font-weight: 800;
}

.r-fw-900 {
	font-weight: 900;
}

.r-lh-1 {
	line-height: 1;
}

.r-lh-sm {
	line-height: 1.25;
}

.r-lh-base {
	line-height: 1.4;
}

.r-lh-lg {
	line-height: 2;
}

.r-text-left {
	text-align: left;
}

.r-text-right {
	text-align: right;
}

.r-text-center {
	text-align: center;
}

.r-text-decoration-none {
	text-decoration: none;
}

.r-text-decoration-underline {
	text-decoration: underline;
}

.r-text-decoration-line-through {
	text-decoration: line-through;
}

.r-text-lowercase {
	text-transform: lowercase;
}

.r-text-uppercase {
	text-transform: uppercase;
}

.r-text-capitalize {
	text-transform: capitalize;
}

.r-text-wrap {
	white-space: normal;
}

.r-text-nowrap {
	white-space: nowrap;
}

.r-text-break {
	word-wrap: break-word;
	word-break: break-word;
}