.r-d-none {
	display: none;
}
.r-d-inline {
	display: inline;
}
.r-d-inline-block {
	display: inline-block;
}
.r-d-block {
	display: block;
}
.r-d-grid {
	display: grid;
}
.r-d-table {
	display: table;
}
.r-d-table-cell {
	display: none;
}
.r-d-table-row {
	display: table-row;
}
.r-d-flex {
	display: flex;
}
.r-d-inline-flex {
	display: inline-flex;
}