/* Small Mobile */
@media (max-width: $break-sm) {
	.r-sm-gap-0 {
		gap: 0;
	}

	.r-sm-gap-1 {
		gap: 5px;
	}

	.r-sm-gap-2 {
		gap: 10px;
	}

	.r-sm-gap-3 {
		gap: 15px;
	}

	.r-sm-gap-4 {
		gap: 20px;
	}

	.r-sm-gap-5 {
		gap: 25px;
	}

	.r-sm-gap-6 {
		gap: 30px;
	}

	.r-sm-gap-large {
		gap: 50px;
	}

	.r-sm-gap-larger {
		gap: 100px;
	}
}