.r-theme-br {
	border-radius: var(--theme-border-radius);
}

.r-br-1 {
	border-radius: 1px;
}

.r-br-2 {
	border-radius: 2px;
}

.r-br-3 {
	border-radius: 3px;
}

.r-br-4 {
	border-radius: 4px;
}

.r-br-5 {
	border-radius: 5px;
}

.r-br-6 {
	border-radius: 6px;
}

.r-br-7 {
	border-radius: 7px;
}

.r-br-8 {
	border-radius: 8px;
}

.r-br-9 {
	border-radius: 9px;
}

.r-br-10 {
	border-radius: 10px;
}

.r-br-15 {
	border-radius: 15px;
}

.r-br-20 {
	border-radius: 20px;
}

.r-br-full {
	border-radius: 50%;
}

.r-br-0 {
	border-radius: 0;
}