/* Small Desktop */
@media (min-width: $break-sd) {
	.r-sd-mar-1 {
		margin: var(--n-space-1);
	}
	.r-sd-mar-2 {
		margin: var(--n-space-2);
	}
	.r-sd-mar-3 {
		margin: var(--n-space-3);
	}
	.r-sd-mar-4 {
		margin: var(--n-space-4);
	}
	.r-sd-mar-5 {
		margin: var(--n-space-5);
	}
	.r-sd-mar-6 {
		margin: var(--n-space-6);
	}


	.r-sd-mar-l-1 {
		margin-left: var(--n-space-1);
	}
	.r-sd-mar-l-2 {
		margin-left: var(--n-space-2);
	}
	.r-sd-mar-l-3 {
		margin-left: var(--n-space-3);
	}
	.r-sd-mar-l-4 {
		margin-left: var(--n-space-4);
	}
	.r-sd-mar-l-5 {
		margin-left: var(--n-space-5);
	}
	.r-sd-mar-l-6 {
		margin-left: var(--n-space-6);
	}

	.r-sd-mar-r-1 {
		margin-right: var(--n-space-1);
	}
	.r-sd-mar-r-2 {
		margin-right: var(--n-space-2);
	}
	.r-sd-mar-r-3 {
		margin-right: var(--n-space-3);
	}
	.r-sd-mar-r-4 {
		margin-right: var(--n-space-4);
	}
	.r-sd-mar-r-5 {
		margin-right: var(--n-space-5);
	}
	.r-sd-mar-r-6 {
		margin-right: var(--n-space-6);
	}

	.r-sd-mar-t-1 {
		margin-top: var(--n-space-1);
	}
	.r-sd-mar-t-2 {
		margin-top: var(--n-space-2);
	}
	.r-sd-mar-t-3 {
		margin-top: var(--n-space-3);
	}
	.r-sd-mar-t-4 {
		margin-top: var(--n-space-4);
	}
	.r-sd-mar-t-5 {
		margin-top: var(--n-space-5);
	}
	.r-sd-mar-t-6 {
		margin-top: var(--n-space-6);
	}

	.r-sd-mar-b-1 {
		margin-bottom: var(--n-space-1);
	}
	.r-sd-mar-b-2 {
		margin-bottom: var(--n-space-2);
	}
	.r-sd-mar-b-3 {
		margin-bottom: var(--n-space-3);
	}
	.r-sd-mar-b-4 {
		margin-bottom: var(--n-space-4);
	}
	.r-sd-mar-b-5 {
		margin-bottom: var(--n-space-5);
	}
	.r-sd-mar-b-6 {
		margin-bottom: var(--n-space-6);
	}


	.r-sd-mar-x-1 {
		margin-left: var(--n-space-1);
		margin-right: var(--n-space-1);
	}
	.r-sd-mar-x-2 {
		margin-left: var(--n-space-2);
		margin-right: var(--n-space-2);
	}
	.r-sd-mar-x-3 {
		margin-left: var(--n-space-3);
		margin-right: var(--n-space-3);
	}
	.r-sd-mar-x-4 {
		margin-left: var(--n-space-4);
		margin-right: var(--n-space-4);
	}
	.r-sd-mar-x-5 {
		margin-left: var(--n-space-5);
		margin-right: var(--n-space-5);
	}
	.r-sd-mar-x-6 {
		margin-left: var(--n-space-6);
		margin-right: var(--n-space-6);
	}


	.r-sd-mar-y-1 {
		margin-top: var(--n-space-1);
		margin-bottom: var(--n-space-1);
	}
	.r-sd-mar-y-2 {
		margin-top: var(--n-space-2);
		margin-bottom: var(--n-space-2);
	}
	.r-sd-mar-y-3 {
		margin-top: var(--n-space-3);
		margin-bottom: var(--n-space-3);
	}
	.r-sd-mar-y-4 {
		margin-top: var(--n-space-4);
		margin-bottom: var(--n-space-4);
	}
	.r-sd-mar-y-5 {
		margin-top: var(--n-space-5);
		margin-bottom: var(--n-space-5);
	}
	.r-sd-mar-y-6 {
		margin-top: var(--n-space-6);
		margin-bottom: var(--n-space-6);
	}

	.r-sd-mar-auto {
		margin: auto;
	}
	.r-sd-mar-t-auto {
		margin-top: auto;
	}
	.r-sd-mar-b-auto {
		margin-bottom: auto;
	}
	.r-sd-mar-l-auto {
		margin-left: auto;
	}
	.r-sd-mar-r-auto {
		margin-right: auto;
	}
	.r-sd-mar-x-auto {
		margin-left: auto;
		margin-right: auto;
	}
	.r-sd-mar-y-auto {
		margin-top: auto;
		margin-bottom: auto;
	}


	.r-sd-mar-100 {
		margin: 100px;
	}
	.r-sd-mar-t-100 {
		margin-top: 100px;
	}
	.r-sd-mar-b-100 {
		margin-bottom: 100px;
	}
	.r-sd-mar-l-100 {
		margin-left: 100px;
	}
	.r-sd-mar-r-100 {
		margin-right: 100px;
	}
	.r-sd-mar-x-100 {
		margin-left: 100px;
		margin-right: 100px;
	}
	.r-sd-mar-y-100 {
		margin-top: 100px;
		margin-bottom: 100px;
	}

	.r-sd-mar-200 {
		margin: 200px;
	}
	.r-sd-mar-t-200 {
		margin-top: 200px;
	}
	.r-sd-mar-b-200 {
		margin-bottom: 200px;
	}
	.r-sd-mar-l-200 {
		margin-left: 200px;
	}
	.r-sd-mar-r-200 {
		margin-right: 200px;
	}
	.r-sd-mar-x-200 {
		margin-left: 200px;
		margin-right: 200px;
	}
	.r-sd-mar-y-200 {
		margin-top: 200px;
		margin-bottom: 200px;
	}


	.r-sd-mar-min-1 {
		margin: var(--n-neg-space-1);
	}
	.r-sd-mar-min-2 {
		margin: var(--n-neg-space-2);
	}
	.r-sd-mar-min-3 {
		margin: var(--n-neg-space-3);
	}
	.r-sd-mar-min-4 {
		margin: var(--n-neg-space-4);
	}
	.r-sd-mar-min-5 {
		margin: var(--n-neg-space-5);
	}
	.r-sd-mar-min-6 {
		margin: var(--n-neg-space-6);
	}


	.r-sd-mar-min-l-1 {
		margin-left: var(--n-neg-space-1);
	}
	.r-sd-mar-min-l-2 {
		margin-left: var(--n-neg-space-2);
	}
	.r-sd-mar-min-l-3 {
		margin-left: var(--n-neg-space-3);
	}
	.r-sd-mar-min-l-4 {
		margin-left: var(--n-neg-space-4);
	}
	.r-sd-mar-min-l-5 {
		margin-left: var(--n-neg-space-5);
	}
	.r-sd-mar-min-l-6 {
		margin-left: var(--n-neg-space-6);
	}

	.r-sd-mar-min-r-1 {
		margin-right: var(--n-neg-space-1);
	}
	.r-sd-mar-min-r-2 {
		margin-right: var(--n-neg-space-2);
	}
	.r-sd-mar-min-r-3 {
		margin-right: var(--n-neg-space-3);
	}
	.r-sd-mar-min-r-4 {
		margin-right: var(--n-neg-space-4);
	}
	.r-sd-mar-min-r-5 {
		margin-right: var(--n-neg-space-5);
	}
	.r-sd-mar-min-r-6 {
		margin-right: var(--n-neg-space-6);
	}

	.r-sd-mar-min-t-1 {
		margin-top: var(--n-neg-space-1);
	}
	.r-sd-mar-min-t-2 {
		margin-top: var(--n-neg-space-2);
	}
	.r-sd-mar-min-t-3 {
		margin-top: var(--n-neg-space-3);
	}
	.r-sd-mar-min-t-4 {
		margin-top: var(--n-neg-space-4);
	}
	.r-sd-mar-min-t-5 {
		margin-top: var(--n-neg-space-5);
	}
	.r-sd-mar-min-t-6 {
		margin-top: var(--n-neg-space-6);
	}

	.r-sd-mar-min-b-1 {
		margin-bottom: var(--n-neg-space-1);
	}
	.r-sd-mar-min-b-2 {
		margin-bottom: var(--n-neg-space-2);
	}
	.r-sd-mar-min-b-3 {
		margin-bottom: var(--n-neg-space-3);
	}
	.r-sd-mar-min-b-4 {
		margin-bottom: var(--n-neg-space-4);
	}
	.r-sd-mar-min-b-5 {
		margin-bottom: var(--n-neg-space-5);
	}
	.r-sd-mar-min-b-6 {
		margin-bottom: var(--n-neg-space-6);
	}


	.r-sd-mar-min-x-1 {
		margin-left: var(--n-neg-space-1);
		margin-right: var(--n-neg-space-1);
	}
	.r-sd-mar-min-x-2 {
		margin-left: var(--n-neg-space-2);
		margin-right: var(--n-neg-space-2);
	}
	.r-sd-mar-min-x-3 {
		margin-left: var(--n-neg-space-3);
		margin-right: var(--n-neg-space-3);
	}
	.r-sd-mar-min-x-4 {
		margin-left: var(--n-neg-space-4);
		margin-right: var(--n-neg-space-4);
	}
	.r-sd-mar-min-x-5 {
		margin-left: var(--n-neg-space-5);
		margin-right: var(--n-neg-space-5);
	}
	.r-sd-mar-min-x-6 {
		margin-left: var(--n-neg-space-6);
		margin-right: var(--n-neg-space-6);
	}


	.r-sd-mar-min-y-1 {
		margin-top: var(--n-neg-space-1);
		margin-bottom: var(--n-neg-space-1);
	}
	.r-sd-mar-min-y-2 {
		margin-top: var(--n-neg-space-2);
		margin-bottom: var(--n-neg-space-2);
	}
	.r-sd-mar-min-y-3 {
		margin-top: var(--n-neg-space-3);
		margin-bottom: var(--n-neg-space-3);
	}
	.r-sd-mar-min-y-4 {
		margin-top: var(--n-neg-space-4);
		margin-bottom: var(--n-neg-space-4);
	}
	.r-sd-mar-min-y-5 {
		margin-top: var(--n-neg-space-5);
		margin-bottom: var(--n-neg-space-5);
	}
	.r-sd-mar-min-y-6 {
		margin-top: var(--n-neg-space-6);
		margin-bottom: var(--n-neg-space-6);
	}


	.r-sd-mar-min-100 {
		margin: 100px;
	}
	.r-sd-mar-min-t-100 {
		margin-top: 100px;
	}
	.r-sd-mar-min-b-100 {
		margin-bottom: 100px;
	}
	.r-sd-mar-min-l-100 {
		margin-left: 100px;
	}
	.r-sd-mar-min-r-100 {
		margin-right: 100px;
	}
	.r-sd-mar-min-x-100 {
		margin-left: 100px;
		margin-right: 100px;
	}
	.r-sd-mar-min-y-100 {
		margin-top: 100px;
		margin-bottom: 100px;
	}

	.r-sd-mar-min-200 {
		margin: 200px;
	}
	.r-sd-mar-min-t-200 {
		margin-top: 200px;
	}
	.r-sd-mar-min-b-200 {
		margin-bottom: 200px;
	}
	.r-sd-mar-min-l-200 {
		margin-left: 200px;
	}
	.r-sd-mar-min-r-200 {
		margin-right: 200px;
	}
	.r-sd-mar-min-x-200 {
		margin-left: 200px;
		margin-right: 200px;
	}
	.r-sd-mar-min-y-200 {
		margin-top: 200px;
		margin-bottom: 200px;
	}


	.r-sd-mar-b-0 {
		margin-bottom: 0px;
	}
	.r-sd-mar-t-0 {
		margin-top: 0px;
	}
	.r-sd-mar-r-0 {
		margin-right: 0px;
	}
	.r-sd-mar-l-0 {
		margin-left: 0px;
	}
	.r-sd-mar-x-0 {
		margin-right: 0px;
		margin-left: 0px;
	}
	.r-sd-mar-y-0 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.r-sd-mar-0 {
		margin: 0px;
	}
}