

:root {
	--n-space-1: var( --space-15 );
	--n-space-2: var( --space-25 );
	--n-space-3: var( --space-40 );
	--n-space-4: var( --space-50 );
	--n-space-5: var( --space-80 );
	--n-space-6: var( --space-120 );
	--n-space-7: var( --space-240 );
	--n-space-8: var( --space-400 );

	--n-neg-space-1: var( ---space-15 );
	--n-neg-space-2: var( ---space-25 );
	--n-neg-space-3: var( ---space-40 );
	--n-neg-space-4: var( ---space-50 );
	--n-neg-space-5: var( ---space-80 );
	--n-neg-space-6: var( ---space-120 );
	--n-neg-space-7: var( ---space-240 );
	--n-neg-space-6: var( ---space-400 );
}