:root {
	--n-space-1: 5px;
	--n-space-2: 10px;
	--n-space-3: 20px;
	--n-space-4: 30px;
	--n-space-5: 60px;

	--n-neg-space-1: -5px;
	--n-neg-space-2: -10px;
	--n-neg-space-3: -20px;
	--n-neg-space-4: -30px;
	--n-neg-space-5: -60px;
}