.r-box {
	background: var(--color-layout-1);
	border-radius: var(--theme-border-radius);
	box-shadow: var(--layout-shadow);
	border: var(--layout-border);
	border-width: var(--layout-box-border-width);
}

.r-box.r-layout-border-b {
	--layout-shadow-offset: 0 6px var(--layout-shadow-out-blur) -6px var(--layout-shadow-out-color);
	--layout-shadow-inset: inset -1px 0 var(--layout-shadow-in-blur) var(--layout-shadow-in-spread) var(--layout-shadow-in-color);

	--layout-shadow: var(--layout-shadow-offset), var(--layout-shadow-inset);

	border-top: 0;
	border-left: 0;
	border-right: 0;
}

.r-box.r-layout-border-t {
	--layout-shadow-offset: 0 -6px var(--layout-shadow-out-blur) -6px var(--layout-shadow-out-color);
	--layout-shadow-inset: inset var(--layout-shadow-in-horizontal) 0 var(--layout-shadow-in-blur) var(--layout-shadow-in-spread) var(--layout-shadow-in-color);

	--layout-shadow: var(--layout-shadow-offset), var(--layout-shadow-inset);

	border-bottom: 0;
	border-left: 0;
	border-right: 0;
}

.r-box.r-layout-border-r {
	--layout-shadow-offset: 6px 0 var(--layout-shadow-out-blur) -6px var(--layout-shadow-out-color);
	--layout-shadow-inset: inset var(--layout-shadow-in-horizontal) 0 var(--layout-shadow-in-blur) var(--layout-shadow-in-spread) var(--layout-shadow-in-color);

	--layout-shadow: var(--layout-shadow-offset), var(--layout-shadow-inset);

	border-top: 0;
	border-bottom: 0;
	border-left: 0;
}

.r-box.r-layout-border-l {
	--layout-shadow-offset: -6px 0 var(--layout-shadow-out-blur) -6px var(--layout-shadow-out-color);
	--layout-shadow-inset: inset 0 -1px var(--layout-shadow-in-blur) var(--layout-shadow-in-spread) var(--layout-shadow-in-color);

	--layout-shadow: var(--layout-shadow-offset), var(--layout-shadow-inset);

	border-top: 0;
	border-bottom: 0;
	border-right: 0;
}