.r-align-items-start {
	align-items: flex-start;
}

.r-align-items-end {
	align-items: flex-end;
}

.r-align-items-center {
	align-items: center;
}

.r-align-items-baseline {
	align-items: baseline;
}

.r-align-items-stretch {
	align-items: stretch;
}

.r-align-content-start {
	align-content: flex-start;
}

.r-align-content-end {
	align-content: flex-end;
}

.r-align-content-center {
	align-content: center;
}

.r-align-content-between {
	align-content: space-between;
}

.r-align-content-around {
	align-content: space-around;
}

.r-align-content-stretch {
	align-content: stretch;
}

.r-align-self-auto {
	align-self: auto;
}

.r-align-self-start {
	align-self: flex-start;
}

.r-align-self-end {
	align-self: flex-end;
}

.r-align-self-center {
	align-self: center;
}

.r-align-self-baseline {
	align-self: baseline;
}

.r-align-self-stretch {
	align-self: stretch;
}