/* Small Mobile */
@media (min-width: $break-sm) {
	.r-sm-order-first {
		order: -1;
	}

	.r-sm-order-0 {
		order: 0;
	}

	.r-sm-order-1 {
		order: 1;
	}

	.r-sm-order-2 {
		order: 2;
	}

	.r-sm-order-3 {
		order: 3;
	}

	.r-sm-order-4 {
		order: 4;
	}

	.r-sm-order-5 {
		order: 5;
	}

	.r-sm-order-last {
		order: 6;
	}
}