/* Large Mobile */
@media (min-width: $break-lm) {
	.r-lm-order-first {
		order: -1;
	}

	.r-lm-order-0 {
		order: 0;
	}

	.r-lm-order-1 {
		order: 1;
	}

	.r-lm-order-2 {
		order: 2;
	}

	.r-lm-order-3 {
		order: 3;
	}

	.r-lm-order-4 {
		order: 4;
	}

	.r-lm-order-5 {
		order: 5;
	}

	.r-lm-order-last {
		order: 6;
	}
}