/*--------------------------------------------------------------
Base Elements
--------------------------------------------------------------*/

html {
	box-sizing: border-box;
}

html,
*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background: #fff;
	/* Fallback for when there is no custom background color defined. */
}

hr {
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 0;
	padding-left: 1.5em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

/* Extra wide images within figure tags don't overflow the content area. */
figure {
	margin: 0.5em 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}