a {
	color: var(--color-link);
}

a:hover,
a:focus,
a:active {
	color: var(--color-link-active);
}

a:hover,
a:active {
	outline: 0;
}

a:focus-visible {
	outline: 2px dashed var(--color-key-outline);
}