/* Large Mobile */
@media (max-width: $break-lm) {
	.r-lm-position-static {
		position: static;
	}

	.r-lm-position-relative {
		position: relative;
	}

	.r-lm-position-absolute {
		position: absolute;
	}

	.r-lm-position-fixed {
		position: fixed;
	}

	.r-lm-position-sticky {
		position: -webkit-sticky;
		position: sticky;
	}

	.r-lm-top-0 {
		top: 0;
	}

	.r-lm-top-50 {
		top: 50%;
	}

	.r-lm-top-100 {
		top: 100%;
	}

	.r-lm-bottom-0 {
		bottom: 0;
	}

	.r-lm-bottom-50 {
		bottom: 50%;
	}

	.r-lm-bottom-100 {
		bottom: 100%;
	}

	.r-lm-start-0 {
		left: 0;
	}

	.r-lm-start-50 {
		left: 50%;
	}

	.r-lm-start-100 {
		left: 100%;
	}

	.r-lm-end-0 {
		right: 0;
	}

	.r-lm-end-50 {
		right: 50%;
	}

	.r-lm-end-100 {
		right: 100%;
	}
}