/* Small Mobile */
@media (min-width: $break-sm) {
	.r-sm-grid {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(1, 1fr);
		gap: 15px;
	}

	.r-sm-grid-col-1 {
		grid-template-columns: repeat(1, 1fr);
	}

	.r-sm-grid-col-2 {
		grid-template-columns: repeat(2, 1fr);
	}

	.r-sm-grid-col-3 {
		grid-template-columns: repeat(3, 1fr);
	}

	.r-sm-grid-col-4 {
		grid-template-columns: repeat(4, 1fr);
	}

	.r-sm-grid-col-5 {
		grid-template-columns: repeat(5, 1fr);
	}

	.r-sm-grid-col-6 {
		grid-template-columns: repeat(6, 1fr);
	}

	.r-sm-grid-col-7 {
		grid-template-columns: repeat(7, 1fr);
	}

	.r-sm-grid-col-8 {
		grid-template-columns: repeat(8, 1fr);
	}

	.r-sm-grid-col-9 {
		grid-template-columns: repeat(9, 1fr);
	}

	.r-sm-grid-col-10 {
		grid-template-columns: repeat(10, 1fr);
	}

	.r-sm-grid-col-11 {
		grid-template-columns: repeat(11, 1fr);
	}

	.r-sm-grid-col-12 {
		grid-template-columns: repeat(12, 1fr);
	}

	/*Equal Width Columns*/
	.r-sm-grid-ew-col-1 {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}

	.r-sm-grid-ew-col-2 {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	.r-sm-grid-ew-col-3 {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	.r-sm-grid-ew-col-4 {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}

	.r-sm-grid-ew-col-5 {
		grid-template-columns: repeat(5, minmax(0, 1fr));
	}

	.r-sm-grid-ew-col-6 {
		grid-template-columns: repeat(6, minmax(0, 1fr));
	}

	.r-sm-grid-ew-col-7 {
		grid-template-columns: repeat(7, minmax(0, 1fr));
	}

	.r-sm-grid-ew-col-8 {
		grid-template-columns: repeat(8, minmax(0, 1fr));
	}

	.r-sm-grid-ew-col-9 {
		grid-template-columns: repeat(9, minmax(0, 1fr));
	}

	.r-sm-grid-ew-col-10 {
		grid-template-columns: repeat(10, minmax(0, 1fr));
	}

	.r-sm-grid-ew-col-11 {
		grid-template-columns: repeat(11, minmax(0, 1fr));
	}

	.r-sm-grid-ew-col-12 {
		grid-template-columns: repeat(12, minmax(0, 1fr));
	}

	.r-sm-col-full {
		grid-column: 1 / -1;
	}

	.r-sm-col-1 {
		grid-column: auto/span 1;
	}

	.r-sm-col-2 {
		grid-column: auto/span 2;
	}

	.r-sm-col-3 {
		grid-column: auto/span 3;
	}

	.r-sm-col-4 {
		grid-column: auto/span 4;
	}

	.r-sm-col-5 {
		grid-column: auto/span 5;
	}

	.r-sm-col-6 {
		grid-column: auto/span 6;
	}

	.r-sm-col-7 {
		grid-column: auto/span 7;
	}

	.r-sm-col-8 {
		grid-column: auto/span 8;
	}

	.r-sm-col-9 {
		grid-column: auto/span 9;
	}

	.r-sm-col-10 {
		grid-column: auto/span 10;
	}

	.r-sm-col-11 {
		grid-column: auto/span 11;
	}

	.r-sm-col-12 {
		grid-column: auto/span 12;
	}
}