/* Large Desktop */
@media (min-width: $break-ld) {
	.r-ld-border {
		border: var(--layout-border);
	}

	.r-ld-border-t {
		border-top: var(--layout-border);
	}

	.r-ld-border-b {
		border-bottom: var(--layout-border);
	}

	.r-ld-border-l {
		border-left: var(--layout-border);
	}

	.r-ld-border-r {
		border-right: var(--layout-border);
	}

	.r-ld-border-t-none {
		border-top: 0px;
	}

	.r-ld-border-b-none {
		border-bottom: 0px;
	}

	.r-ld-border-l-none {
		border-left: 0px;
	}

	.r-ld-border-r-none {
		border-right: 0px;
	}

	.r-ld-border-none {
		border: 0px;
	}

	.r-ld-border-w-1 {
		border-width: 1px;
	}

	.r-ld-border-w-2 {
		border-width: 2px;
	}

	.r-ld-border-w-3 {
		border-width: 3px;
	}

	.r-ld-border-w-4 {
		border-width: 4px;
	}

	.r-ld-border-w-5 {
		border-width: 5px;
	}

	.r-ld-border-w-0 {
		border-width: 0;
	}
}