/* Large Mobile */
@media (max-width: $break-lm) {
	.r-lm-border {
		border: var(--layout-border);
	}

	.r-lm-border-t {
		border-top: var(--layout-border);
	}

	.r-lm-border-b {
		border-bottom: var(--layout-border);
	}

	.r-lm-border-l {
		border-left: var(--layout-border);
	}

	.r-lm-border-r {
		border-right: var(--layout-border);
	}

	.r-lm-border-x {
		border-right: var(--layout-border);
		border-left: var(--layout-border);
	}

	.r-lm-border-y {
		border-top: var(--layout-border);
		border-bottom: var(--layout-border);
	}



	.r-lm-bw-1 {
		border-width: 1px;
	}

	.r-lm-bw-2 {
		border-width: 2px;
	}

	.r-lm-bw-3 {
		border-width: 3px;
	}

	.r-lm-bw-4 {
		border-width: 4px;
	}

	.r-lm-bw-5 {
		border-width: 5px;
	}

	.r-lm-bw-0 {
		border-width: 0;
	}


	.r-lm-border-t-none {
		border-top: 0;
	}

	.r-lm-border-b-none {
		border-bottom: 0;
	}

	.r-lm-border-l-none {
		border-left: 0;
	}

	.r-lm-border-r-none {
		border-right: 0;
	}

	.r-lm-border-x-none {
		border-right: 0;
		border-left: 0;
	}

	.r-lm-border-y-none {
		border-top: 0;
		border-bottom: 0;
	}

	.r-lm-border-none {
		border: 0px;
	}
}