.r-border {
	border: var(--layout-border);
}

.r-border-t {
	border-top: var(--layout-border);
}

.r-border-b {
	border-bottom: var(--layout-border);
}

.r-border-l {
	border-left: var(--layout-border);
}

.r-border-r {
	border-right: var(--layout-border);
}

.r-border-t-none {
	border-top: 0px;
}

.r-border-b-none {
	border-bottom: 0px;
}

.r-border-l-none {
	border-left: 0px;
}

.r-border-r-none {
	border-right: 0px;
}

.r-border-none {
	border: 0px;
}

.r-border-w-1 {
	border-width: 1px;
}

.r-border-w-2 {
	border-width: 2px;
}

.r-border-w-3 {
	border-width: 3px;
}

.r-border-w-4 {
	border-width: 4px;
}

.r-border-w-5 {
	border-width: 5px;
}

.r-border-w-0 {
	border-width: 0;
}